version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - ./backend:/app
      - ./data:/app/data
      - ./.env:/app/.env
      - /app/node_modules
    command: npm run dev
    networks:
      root_default:
        ipv4_address: 172.18.0.20

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "3001:3001"
    environment:
      - REACT_APP_API_URL=http://localhost:5000
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    networks:
      root_default:
        ipv4_address: 172.18.0.21

networks:
  root_default:
    external: true
